.photo-1{
    height: 10vh;
    background: url(/img/pexels-monicore-1391505.jpg) no-repeat 50% 50%;
}


.photo-2{
    height: 10vh;
    background: url(/img/buffalo-mozzarella-g9f7d802e0_1280.jpg) no-repeat 36% 50%;
}


.photo-3{
    height: 10vh;
    background: url(/img/pexels-alena-darmel-7223301.jpg) no-repeat 50% 62%;
}

@media screen and (min-width: 768px){
    .carousel-control-prev{
        margin-left: -10rem;
    }
    .carousel-control-next{
        margin-right:-10rem;
    }
}

@media screen and (max-width: 768px){
    .carousel-control-prev{
        display: none;
    }
    .carousel-control-next{
        display: none;
    }
}

.header-style{
    height: 40vh;
    background: linear-gradient(rgba(205, 220, 207, 0.363), rgba(205, 220, 207, 0.363)), url(/img/pizza-header-2.jpg) no-repeat 65% 75%;
    background-size: cover;
    
}
i{
    color: red;
font-size: 30px;

}
span{
    color:red;
}

body{
    background-color: #fdf6dd;
}

h2{
    font-family: 'Dancing Script', cursive;
    color:red;
    font-size: 50px;
    font-weight: bold;}