i{
    color: red;
font-size: 30px;

}
span{
    color:red;
}

body{
    background-color: #fdf6dd;
}

h2{
    font-family: 'Dancing Script', cursive;
    color:red;
    font-size: 50px;
    font-weight: bold;
}
.card-body:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}

footer div i{
    cursor: pointer;
}
header h2{
    box-shadow: 10px;
}
.header-style{
    height: 700px;
    background: linear-gradient(rgba(205, 220, 207, 0.363), rgba(205, 220, 207, 0.363)), url(/img/pizza-header-2.jpg) no-repeat 65% 75%;
    background-size:cover;
    
}
.rotate{
    animation: imgRotate 50s linear infinite;
}

@keyframes imgRotate {
    to {
        transform: rotate(360deg);
    }
}
@media screen and (min-width: 768px){
    .carousel-control-prev{
        margin-left: -10rem;
    }
    .carousel-control-next{
        margin-right:-10rem;
    }
}

@media screen and (max-width: 768px){
    .carousel-control-prev{
        display: none;
    }
    .carousel-control-next{
        display: none;
    }
}


