.header-style{
    height: 40vh;
    background: linear-gradient(rgba(205, 220, 207, 0.363), rgba(205, 220, 207, 0.363)), url(/img/pizza\ header.jpg) no-repeat 50% 15%;
    background-size: cover;
    
}
