.header-style{
    height: 40vh;
    background: linear-gradient(rgba(205, 220, 207, 0.363), rgba(205, 220, 207, 0.363)), url(/img/pizza-header-2.jpg) no-repeat 65% 75%;
    background-size: cover;
    
}
i{
    color: red;
font-size: 30px;

}
span{
    color:red;
}

body{
    background-color: #fdf6dd;
}

h2{
    font-family: 'Dancing Script', cursive;
    color:red;
    font-size: 50px;
    font-weight: bold;}